<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slake - Responsive Multi-purpose HTML5 Template</title>
    <link rel="shortcut icon" href="../../static/userResources/images/favicon.ico"/>
    <!--Plugin CSS-->
    <link href="../../static/userResources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/bootstrap-social.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/settings.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/layers.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/navigation.css">
    <link href="../../static/userResources/css/owl.carousel.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/owl.theme.default.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery.lineProgressbar.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/icofont.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/prettyPhoto.css" rel="stylesheet">

    <!--main Css-->
    <link href="../../static/userResources/css/main.css" rel="stylesheet">
</head>
<body>
<!-- header -->
{% include 'user/header.html' %}
<!--End header -->

<!-- Page Inner -->
<section class="image-bg py-5">
    <div class="bg-light"></div>
    <div class="background-image-maker"></div>
    <div class="holder-image">
        <img src="../../static/userResources/images/image-bg.jpg" alt="" class="img-fluid">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 my-auto wow fadeIn dark">
                <div class="page-title">
                    <h2 class="mb-0"><p style="color: ghostwhite"/>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End  Page Inner  -->

<!-- Features -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 wow fadeIn">
                <div class="media mb-2">
                    <div class="d-flex bg-primary py-3 px-3 rounded mr-4"><span
                            class="h4 line-height-1 lnr lnr-thumbs-up mb-0 text-white"></span></div>
                    <div class="media-body align-self-center"><h5 class="font-weight-normal mb-0">User Friendly</h5>
                    </div>
                </div>
                <p>Donec pede justo, fringilla vel, aliquet nec, vulpe eget, arcu. In enim justo, rhoncus ut, imperdiet
                    venenatis vitae, eleifend justo semper nisi.</p>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="media mb-2">
                    <div class="d-flex bg-primary py-3 px-3 rounded mr-4"><span
                            class="h4 line-height-1 lnr lnr-layers mb-0 text-white"></span></div>
                    <div class="media-body align-self-center"><h5 class="font-weight-normal mb-0">Fully Responsive</h5>
                    </div>
                </div>
                <p>Donec pede justo, fringilla vel, aliquet nec, vulpe eget, arcu. In enim justo, rhoncus ut, imperdiet
                    venenatis vitae, eleifend justo semper nisi.</p>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 wow fadeIn">
                <div class="media mb-2">
                    <div class="d-flex bg-primary py-3 px-3 rounded mr-4"><span
                            class="h4 line-height-1 lnr lnr-bold mb-0 text-white"></span></div>
                    <div class="media-body align-self-center"><h5 class="font-weight-normal mb-0">Clean Typography</h5>
                    </div>
                </div>
                <p>Donec pede justo, fringilla vel, aliquet nec, vulpe eget, arcu. In enim justo, rhoncus ut, imperdiet
                    venenatis vitae, eleifend justo semper nisi.</p>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 wow fadeIn">
                <div class="media mb-2">
                    <div class="d-flex bg-primary py-3 px-3 rounded mr-4"><span
                            class="h4 line-height-1 lnr lnr-coffee-cup mb-0 text-white"></span></div>
                    <div class="media-body align-self-center"><h5 class="font-weight-normal mb-0">Smooth Workflow</h5>
                    </div>
                </div>
                <p class="mb-md-0">Donec pede justo, fringilla vel, aliquet nec, vulpe eget, arcu. In enim justo,
                    rhoncus ut, imperdiet venenatis vitae, eleifend justo semper nisi.</p>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="media mb-2">
                    <div class="d-flex bg-primary py-3 px-3 rounded mr-4"><span
                            class="h4 line-height-1 lnr lnr-lock mb-0 text-white"></span></div>
                    <div class="media-body align-self-center"><h5 class="font-weight-normal mb-0">Secure Connection</h5>
                    </div>
                </div>
                <p class="mb-md-0">Donec pede justo, fringilla vel, aliquet nec, vulpe eget, arcu. In enim justo,
                    rhoncus ut, imperdiet venenatis vitae, eleifend justo semper nisi.</p>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn">
                <div class="media mb-2">
                    <div class="d-flex bg-primary py-3 px-3 rounded mr-4"><span
                            class="h4 line-height-1 lnr lnr-rocket mb-0 text-white"></span></div>
                    <div class="media-body align-self-center"><h5 class="font-weight-normal mb-0">Powerful Options</h5>
                    </div>
                </div>
                <p class="mb-md-0">Donec pede justo, fringilla vel, aliquet nec, vulpe eget, arcu. In enim justo,
                    rhoncus ut, imperdiet venenatis vitae, eleifend justo semper nisi.</p>
            </div>
        </div>
    </div>


</section>
<!--End  Features  -->

<!-- About -->
<section class="bg-light">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12 col-lg-6 mb-5 mb-lg-0 wow fadeIn">
                <img src="../../static/userResources/images/blog6.jpg" alt="" class="img-fluid rounded shadow2">
            </div>
            <div class="col-12 col-lg-5 ml-auto align-self-center wow fadeIn">
                <h6 class="primary font-weight-normal">Who We Are</h6>
                <h4 class="f-playfair font-italic font-weight-bold">Lorem ipsum dolor sit amet, adipisc aenean commodo
                    ligula.</h4>
                <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices
                    mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing.
                    Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero.
                    Aenean ut eros et nisl sagittis vestibulum.</p>
                <a href="#" class="btn btn-primary btn-md mt-3">learn more about</a>
            </div>
        </div>
        <div class="divider-solid my-5"></div>
        <div class="row text-center pt-4 wow fadeIn">
            <div class="col-lg-3 col-sm-6">
                <div class="fact-box mb-5 mb-lg-0">
                    <span class="h1 lnr lnr-user"></span>
                    <h1 class="counter_number1 mb-1 dark font-weight-normal">969</h1>
                    <p class="dark text-uppercase letter-spacing-1 mb-0">Happy Clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="fact-box mb-5 mb-lg-0">
                    <span class="h1 lnr lnr-clock"></span>
                    <h1 class="counter_number1 mb-1 dark font-weight-normal">1813</h1>
                    <p class="dark text-uppercase letter-spacing-1 mb-0">Project Finish</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="fact-box mb-5 mb-sm-0">
                    <span class="h1 lnr lnr-gift"></span>
                    <h1 class="counter_number1 mb-1 dark font-weight-normal">704</h1>
                    <p class="dark text-uppercase letter-spacing-1 mb-0">Wining Awards</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="fact-box">
                    <span class="h1 lnr lnr-coffee-cup"></span>
                    <h1 class="counter_number1 mb-1 dark font-weight-normal">3376</h1>
                    <p class="dark text-uppercase letter-spacing-1 mb-0">Cups of Coffee</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End  About  -->

<!-- Our Team  -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center pb-4 wow fadeIn">
                <div class="heading">
                    <h2>Meet Our Team</h2>
                    <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                        semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
                        eleifend ac, enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4 mb-lg-0 wow fadeIn">
                <div class="team text-center">
                    <img src="../../static/userResources/images/team-1.jpg" alt="" class="img-fluid rounded w-100">
                    <div class="team-overlay overlay fade rounded">
                        <div class="d-table w-100 h-100 ">
                            <div class="d-table-cell align-middle">
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-facebook"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-twitter"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-pinterest-p"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-instagram"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-4">
                    <h5 class="mb-2 font-weight-normal">Abelson Dixon</h5>
                    <p class="mb-2 heading-footer pl-5">UI / UX Designer</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-lg-0">
                <div class="team text-center">
                    <img src="../../static/userResources/images/team-2.jpg" alt="" class="img-fluid rounded w-100">
                    <div class="team-overlay overlay fade rounded">
                        <div class="d-table w-100 h-100 ">
                            <div class="d-table-cell align-middle">
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-facebook"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-twitter"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-pinterest-p"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-instagram"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-4">
                    <h5 class="mb-2 font-weight-normal">William Smith</h5>
                    <p class="mb-2 heading-footer pl-5">Wordpress Developer</p>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn">
                <div class="team text-center">
                    <img src="../../static/userResources/images/team-3.jpg" alt="" class="img-fluid rounded w-100">
                    <div class="team-overlay overlay fade rounded">
                        <div class="d-table w-100 h-100 ">
                            <div class="d-table-cell align-middle">
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-facebook"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-twitter"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top mr-3"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-pinterest-p"></i></span></a></li>
                                    <li class="list-inline-item transition-move-top"><a href="#"><span
                                            class="h5 text-white mb-0"><i class="fa fa-instagram"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-4">
                    <h5 class="mb-2 font-weight-normal">Marjaney Taylor</h5>
                    <p class="mb-2 heading-footer pl-5">Angular Developer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Our Team  -->

<!-- Our partners -->
<section class="bg-light">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-8 text-center pb-4 wow fadeIn animated">
                <div class="heading">
                    <h2>Our Partners</h2>

                </div>
            </div>
            <div class="owl-carousel carousal-client">
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner1.png" alt=""
                                     title="Handmade With Love" class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner2.png" alt="" title="Retrologo"
                                     class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner3.png" alt=""
                                     title="Retrologo Surname" class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner4.png" alt="" title="Art Studio"
                                     class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner5.png" alt="" title="The Retrologo"
                                     class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner6.png" alt="" title="Pure"
                                     class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner1.png" alt=""
                                     title="Handmade With Love" class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner2.png" alt="" title="Retrologo"
                                     class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner3.png" alt=""
                                     title="Retrologo Surname" class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner4.png" alt="" title="Art Studio"
                                     class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner5.png" alt="" title="The Retrologo"
                                     class="img-fluid"/></a>
                </div>
                <div class="item text-center wow fadeInDown">
                    <a href="#"><img src="../../static/userResources/images/partner6.png" alt="" title="Pure"
                                     class="img-fluid"/></a>
                </div>
            </div>
        </div>
    </div>
</section>        <!--End Our partners  -->

<!-- Footer-->
{% include 'user/footer1.html' %}
<!--End  Footer-->

<!-- Top To Bottom-->
<a href="#" class="scrollup text-center bg-primary"><i class="fa fa-angle-up text-white"></i></a>
<!-- End Top To Bottom-->

<script src="../../static/userResources/js/jquery-3.3.1.min.js"></script>
<script src="../../static/userResources/js/jquery-ui.min.js"></script>
<script src="../../static/userResources/js/bootstrap.min.js"></script>
<script src="../../static/userResources/js/jquery.themepunch.revolution.min.js"></script>
<script src="../../static/userResources/js/jquery.themepunch.tools.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.slideanims.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.actions.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.layeranimation.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.navigation.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.parallax.min.js"></script>
<script src="../../static/userResources/js/jquery.waypoints.js"></script>
<script src="../../static/userResources/js/jquery.counterup.min.js"></script>
<script src="../../static/userResources/js/owl.carousel.min.js"></script>
<script src="../../static/userResources/js/wow.min.js"></script>
<script src="../../static/userResources/js/jqmeter.min.js"></script>
<script src="../../static/userResources/js/jquery.lineProgressbar.js"></script>
<script src="../../static/userResources/js/jquery.barfiller.js"></script>
<script src="../../static/userResources/js/modernizr-custom.js"></script>
<script src="../../static/userResources/js/jquery.shuffle.min.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.min.js"></script>
<script src="../../static/userResources/js/gmap.js"></script>
<script src="../../static/userResources/js/jquery.prettyPhoto.js"></script>

<!-- Common js-->
<script src="../../static/userResources/js/common.js"></script>
</body>
</html>