<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intelligence Employee Engagement</title>
    <link rel="shortcut icon" href="../../static/userResources/images/favicon.ico"/>
    <!--Plugin CSS-->
    <link href="../../static/userResources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/bootstrap-social.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/settings.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/layers.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/navigation.css">
    <link href="../../static/userResources/css/owl.carousel.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/owl.theme.default.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery.lineProgressbar.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/icofont.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/prettyPhoto.css" rel="stylesheet">

    <!--main Css-->
    <link href="../../static/userResources/css/main.css" rel="stylesheet">
</head>
<body>

<!-- header -->
{% include 'user/header.html' %}
<!--End header -->

<!-- Google map-->
<div class="py-0 section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0 wow fadeInDown">
                <div class="map" id="map"></div>
            </div>
        </div>
    </div>
</div>
<!--End Google Map-->

<!-- Contact Info -->
<section class="bg-light">
    <div class="container">
        <div class="row wow fadeInLeft">
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-0">
                <span class="h1"><i class="icofont icofont-google-map"></i></span>
                <h6 class="f-weight-300 mb-0 light-text">15 Avenue Anatole, New City, <br/>75007 Paris, France</h6>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-0">
                <span class="h1"><i class="icofont icofont-ui-email"></i></span>
                <h6 class="f-weight-300 mb-0"><a href="#" class="dark">info@example.com</a></h6>
                <h6 class="f-weight-300 mb-0"><a href="#" class="dark">support@example.com</a></h6>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-md-0">
                <span class="h1"><i class="icofont icofont-phone"></i></span>
                <h6 class="f-weight-300 mb-0">+1 800 234 5678</h6>
                <h6 class="f-weight-300 mb-0">+1 800 432 8765</h6>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <span class="h1"><i class="icofont icofont-fax"></i></span>
                <h6 class="f-weight-300 mb-0">+1 800 234 5678</h6>
                <h6 class="f-weight-300 mb-0">+1 800 432 8765</h6>
            </div>
        </div>
    </div>
</section>
<!--End Contact Info  -->

<!-- Address -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center pb-4 wow fadeInLeft">
                <div class="heading">
                    <h2>Get In Touch</h2>
                    <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                        semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
                        eleifend ac, enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-5 mb-lg-0 wow fadeInLeft">
                <img src="../../static/userResources/images/busines-wel.jpg" alt="" class="img-fluid rounded"/>
            </div>
            <div class="col-md-6 ml-auto wow fadeInRight">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control rounded" placeholder="Name*"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control rounded" placeholder="Email Address*"/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control rounded" placeholder="Message"></textarea>
                    </div>
                    <a href="#" class="btn btn-primary btn-md">Send Message</a>
                </form>
            </div>
        </div>
    </div>
</section>
<!--End Address  -->

<!-- Footer-->
{% include 'user/footer.html' %}
<!--End  Footer-->

<!-- Top To Bottom-->
<a href="#" class="scrollup text-center bg-primary"><i class="fa fa-angle-up text-white"></i></a>
<!-- End Top To Bottom-->

<script src="../../static/userResources/js/jquery-3.3.1.min.js"></script>
<script src="../../static/userResources/js/jquery-ui.min.js"></script>
<script src="../../static/userResources/js/bootstrap.min.js"></script>
<script src="../../static/userResources/js/jquery.themepunch.revolution.min.js"></script>
<script src="../../static/userResources/js/jquery.themepunch.tools.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.slideanims.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.actions.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.layeranimation.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.navigation.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.parallax.min.js"></script>
<script src="../../static/userResources/js/jquery.waypoints.js"></script>
<script src="../../static/userResources/js/jquery.counterup.min.js"></script>
<script src="../../static/userResources/js/owl.carousel.min.js"></script>
<script src="../../static/userResources/js/wow.min.js"></script>
<script src="../../static/userResources/js/jqmeter.min.js"></script>
<script src="../../static/userResources/js/jquery.lineProgressbar.js"></script>
<script src="../../static/userResources/js/jquery.barfiller.js"></script>
<script src="../../static/userResources/js/modernizr-custom.js"></script>
<script src="../../static/userResources/js/jquery.shuffle.min.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.min.js"></script>
<script src="../../static/userResources/js/gmap.js"></script>
<script src="../../static/userResources/js/jquery.prettyPhoto.js"></script>
<!-- Common js-->
<script src="../../static/userResources/js/common.js"></script>
</body>
</html>