<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Upbond - Responsive Admin Dashboard Template</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="../../static/adminResources/images/favicon.ico">

        <link href="../../static/adminResources/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../../static/adminResources/css/icons.css" rel="stylesheet" type="text/css">
        <link href="../../static/adminResources/css/style.css" rel="stylesheet" type="text/css">
        <link href="../../static/userResources/css/star.css" rel="stylesheet" type="text/css">
    </head>


    <body>

        <!-- Begin page -->
        <div class=""></div>
        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">

                <div class="panel-body">
                    <h3 class="text-center m-t-0 m-b-15">
                        <a href="index.html" class="logo logo-admin"><img src="../../static/adminResources/images/logo_dark.png" height="28" alt="logo"></a>
                    </h3>
                    <h4 class="text-muted text-center m-t-0"><b>Feedback</b></h4>

                    <form class="form-horizontal m-t-20" action="index.html">

                        <div style="" class="form-group">Rating
                        </div>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>




                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea class="form-control" type="text" name="feedbackMessage" required="" placeholder="Message"></textarea>
                            </div>
                        </div>


                        <div class="form-group text-center m-t-40">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" name="feedbackSubmit" type="submit">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>



        <!-- jQuery  -->
        <script src="../../static/adminResources/js/jquery.min.js"></script>
        <script src="../../static/adminResources/js/bootstrap.min.js"></script>
        <script src="../../static/adminResources/js/modernizr.min.js"></script>
        <script src="../../static/adminResources/js/detect.js"></script>
        <script src="../../static/adminResources/js/fastclick.js"></script>
        <script src="../../static/adminResources/js/jquery.slimscroll.js"></script>
        <script src="../../static/adminResources/js/jquery.blockUI.js"></script>
        <script src="../../static/adminResources/js/waves.js"></script>
        <script src="../../static/adminResources/js/wow.min.js"></script>
        <script src="../../static/adminResources/js/jquery.nicescroll.js"></script>
        <script src="../../static/adminResources/js/jquery.scrollTo.min.js"></script>

        <script src="../../static/adminResources/js/app.js"></script>

    </body>
</html>