<section class="bg-light">
            <div class="footer section pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 wow fadeInLeft" >
                            <h5 class="font-weight-normal">About company</h5>
                            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>

                            <ul class="list-inline mt-3 f16">
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" title="facebook" class="text-black"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" title="twitter" class="text-black"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" title="pinterest" class="text-black"><i class="fa fa-pinterest-p"></i></a></li>
                                <li class="pr-0 list-inline-item transition-move-top pr-0"><a href="#" title="linkedin" class="text-black"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 wow fadeInDown" >
                            <div class="row">
                                <div class="col-6">
                                    <div class="footer-details">
                                        <h5 class="font-weight-normal">Mail Us</h5>
                                        <Small class="primary-light-2 f12">Enquiry:</Small>
                                        <h6 class="font-weight-normal f-open-sans mt-2">info@example.com</h6>

                                        <Small class="primary-light-2 f12">Customer Support:</Small>
                                        <h6 class="font-weight-normal f-open-sans mt-2"><a href="#" class="dark">support@example.com</a></h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="footer-details">
                                        <h5 class="font-weight-normal">Call Us</h5>
                                        <Small class="primary-light-2 f12">Support:</Small>
                                        <h6 class="font-weight-normal f-open-sans mt-2"><a href="#" class="dark">+1 800 234 5678</a></h6>

                                        <Small class="primary-light-2 f12">Sales:</Small>
                                        <h6 class="font-weight-normal f-open-sans mt-2"><a href="#" class="dark">+1 800 234 5678</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow fadeInRight">
                            <h5 class="font-weight-normal">Drop us a line</h5>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name:">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email:">
                                </div>
                                <div class="form-group">
                                    <textarea  class="form-control" placeholder="Message :"></textarea>
                                </div>
                                <a href="#" class="btn btn-primary btn-xs">Submit</a>
                            </form>
                        </div>                    
                    </div>
                </div>
            </div>
            
            <div class="border border-left-0 border-right-0 border-bottom-0 brd-dark  py-3 dark">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center wow fadeInUp">
                            Copyright ©Slake Theme 2018    |    All Right Reserved. 
                        </div>
                    </div>
                </div>
            </div>
</section>