<section class="bg-light">
            <div class="footer section pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 wow fadeInLeft" >
                            <h5 class="font-weight-normal">About Project</h5>
                            <p>This is a I.O.T. based Project</p>

                            <ul class="list-inline mt-3 f16">
                                <a href="https://www.facebook.com/achyut.vyas.7" title="facebook" class="text-black"><li class="list-inline-item transition-move-top pr-3"><i class="fa fa-facebook"></i></li></a>
                                <li class="list-inline-item transition-move-top pr-3"><a href="https://twitter.com/Achyut_Vyas42" title="twitter" class="text-black"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item transition-move-top pr-3"><a href="https://www.instagram.com/achyut_vyas/" title="instagram" class="text-black"><i class="fa fa-instagram"></i></a></li>
                                <li class="pr-0 list-inline-item transition-move-top pr-0"><a href="https://www.linkedin.com/in/achyut-vyas-067126178/" title="linkedin" class="text-black"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 wow fadeInDown" >
                            <div class="row">
                                <div class="col-6">
                                    <div class="footer-details">
                                        <h5 class="font-weight-normal">Mail Us</h5>
                                        <Small class="primary-light-2 f12">Enquiry:</Small>
                                        <h6 class="font-weight-normal f-open-sans mt-2">dabhi9597@gmail.com</h6>

                                        <Small class="primary-light-2 f12">Customer Support:</Small>
                                        <h6 class="font-weight-normal f-open-sans mt-2"><p href="" class="bg-light">dabhi9597@gmail.com</p></h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="footer-details">
                                        <h5 class="font-weight-normal">Call Us</h5>
                                        <Small class="primary-light-2 f12">Support:</Small>
                                        <h6 class="font-weight-normal f-open-sans mt-2"><p href="" class="bg-light">+91 9904274523</p></h6>

                                        <Small class="primary-light-2 f12">Sales:</Small>
                                        <h6 class="font-weight-normal f-open-sans mt-2"><p href="" class="bg-light">+91 9898135505</p></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-6 col-lg-4 wow fadeInRight">
                            <h5 class="font-weight-normal">Drop us a line</h5>
                            <form action="/insertMessage" method="POST">
                                <div class="form-group">
                                    <input type="text" name="Name" class="form-control" placeholder="Name:">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Email" class="form-control" placeholder="Email:">
                                </div>
                                <div class="form-group">
                                    <textarea  class="form-control" name="Message" placeholder="Message :"></textarea>
                                </div>
                                <button class="btn btn-primary btn-xs" value="Submit">Submit
                            </form>
                        </div>-->                    
                    </div>
                </div>
            </div>
            
            <div class="border border-left-0 border-right-0 border-bottom-0 brd-dark  py-3 dark">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center wow fadeInUp">
                            Intelligence Employee Engagement 
                        </div>
                    </div>
                </div>
            </div>
</section>