        <div class="bg-light">
            <div class="footer-bottom py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3 mb-md-0 text-center text-lg-left wow fadeIn">
                            <span><a href="#">Intelligence Employee Engagement</a> </span>
                        </div>
                        <div class="col-12 col-md-6 text-center text-md-right wow fadeIn">
                            <ul class="list-inline my-auto">
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" title="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                <li class="pr-0 list-inline-item transition-move-top pr-0"><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
