<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Intelligence Employee Engagement</title>
        <link rel="shortcut icon" href="../../static/userResources/images/favicon.ico" />
        <!--Plugin CSS-->
        <link href="../../static/userResources/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/bootstrap-social.css" rel="stylesheet">
        <link href="../../static/userResources/css/jquery-ui.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/settings.css">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/layers.css">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/navigation.css">                        
        <link href="../../static/userResources/css/owl.carousel.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/owl.theme.default.css" rel="stylesheet">
        <link href="../../static/userResources/css/jquery.lineProgressbar.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/jquery.fancybox.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/style.css" rel="stylesheet">
        <link href="../../static/userResources/css/ionicons.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/icofont.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/prettyPhoto.css" rel="stylesheet">

        <!--main Css-->
        <link href="../../static/userResources/css/main.css" rel="stylesheet">
    </head>
    <body>
        <!-- header -->
        {% include 'user/header.html' %}
        <!--End header -->

        <!-- Page Inner -->
        <section class="bg-primary py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="page-title">
                            <h2 class="mb-0 text-white">Grid 4 Columns</h2>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <ol class="breadcrumb text-left text-md-right mb-0 pl-0">
                            <li class="breadcrumb-item d-inline-block float-none"><a href="#">Home</a></li>
                            <li class="breadcrumb-item d-inline-block float-none"><a href="#">Blog</a></li>
                            <li class="breadcrumb-item d-inline-block float-none active">Grid 4 Columns</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!--End  Page Inner -->

        <!-- Grid Style 1-->
        <section class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-5">
                        <img src="../../static/userResources/images/blog1.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <img src="../../static/userResources/images/blog2.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <img src="../../static/userResources/images/blog3.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <img src="../../static/userResources/images/blog4.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <img src="../../static/userResources/images/blog5.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <img src="../../static/userResources/images/blog6.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <img src="../../static/userResources/images/blog7.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <img src="../../static/userResources/images/blog8.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <img src="../../static/userResources/images/blog9.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <img src="../../static/userResources/images/blog10.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <img src="../../static/userResources/images/blog11.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <img src="../../static/userResources/images/blog12.jpg" alt="" class="img-fluid rounded" />
                        <div class="pt-3">
                            <p class="f-weight-600"> By <a href="#" class="primary">John Doe</a> / August 22, 2017</p>
                            <h6 class="font-weight-normal">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</h6>
                            <a href="single-post-left-sidebar.html" class="btn btn-dark btn-xs">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Grid Style 1-->

        <!-- Footer-->
        {% include 'user/footer.html' %}
        <!--End  Footer-->


        <!-- Top To Bottom-->
        <a href="#" class="scrollup text-center bg-primary"><i class="fa fa-angle-up text-white"></i></a>
        <!-- End Top To Bottom-->

        <script src="../../static/userResources/js/jquery-3.3.1.min.js"></script>
        <script src="../../static/userResources/js/jquery-ui.min.js"></script>
        <script src="../../static/userResources/js/bootstrap.min.js"></script>
        <script  src="../../static/userResources/js/jquery.themepunch.revolution.min.js"></script>
        <script  src="../../static/userResources/js/jquery.themepunch.tools.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.slideanims.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.actions.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.layeranimation.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.navigation.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.parallax.min.js"></script>
        <script  src="../../static/userResources/js/jquery.waypoints.js"></script>
        <script  src="../../static/userResources/js/jquery.counterup.min.js"></script>
        <script  src="../../static/userResources/js/owl.carousel.min.js"></script>
        <script  src="../../static/userResources/js/wow.min.js"></script>
        <script  src="../../static/userResources/js/jqmeter.min.js"></script>
        <script  src="../../static/userResources/js/jquery.lineProgressbar.js"></script>
        <script  src="../../static/userResources/js/jquery.barfiller.js"></script>
        <script  src="../../static/userResources/js/modernizr-custom.js"></script>
        <script  src="../../static/userResources/js/jquery.shuffle.min.js"></script>
        <script  src="../../static/userResources/js/jquery.fancybox.min.js"></script>
        <script  src="../../static/userResources/js/gmap.js"></script>
        <script  src="../../static/userResources/js/jquery.prettyPhoto.js"></script>
        <script src="../../static/userResources/js/common.js"></script>

    </body>
</html>