<div class="header-container">
            <div class="container">
                <nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light py-lg-0 py-4">
                    <a class="navbar-brand" href="index.html"><img src="../../static/userResources/images/logo-v1.png" alt="" class="img-fluid"></a> 
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto text-uppercase f-weight-600">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Manage Attendance<i class="icofont icofont-simple-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="architect.html">View Attendance</a></li>
                                    <!--<li><a href="business-01.html">Business-1</a></li>
                                    <li><a href="business-02.html">Business-2</a></li>
                                    <li><a href="business-03.html">Business-3</a></li>
                                    <li><a href="business-04.html">Business-4</a></li>
                                    <li><a href="business-05.html">Business-5</a></li>
                                    <li><a href="construction.html">Construction</a></li>
                                    <li><a href="personal.html">Personal</a></li>
                                    <li><a href="restaurant.html">Restaurant</a></li>
                                    <li><a href="shop.html">Shop</a></li>-->                                    
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Manage Reports<i class="icofont icofont-simple-down"></i></a>
                                <!--<ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">About</a>-->
                                        <ul class="dropdown-menu">
                                            <li><a href="about-01.html">View Reports</a></li>
                                            <!--<li><a href="about-02.html">About 2</a></li>
                                            <li><a href="about-03.html">About 3</a></li>-->
                                        </ul>
                                    <!--</li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Coming Soon</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Contact</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="contact-01.html">Contact 01</a></li>
                                            <li><a href="contact-02.html">Contact 02</a></li>
                                            <li><a href="contact-03.html">Contact 03</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Error</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="error-404.html">Error-404</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Faq</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Login</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Services</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="services-01.html">Service 1</a></li>
                                            <li><a href="services-02.html">Service 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Team</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="team-1.html">Team</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>-->
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Manage Detection Data<i class="icofont icofont-simple-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Request Detection Data</a>
                                       <!-- <ul class="dropdown-menu">
                                            <li><a href="grid-2-col.html">Column 2</a></li>
                                            <li><a href="grid-3-col.html">Column 3</a></li>
                                            <li><a href="grid-4-col.html">Column 4</a></li>
                                        </ul>-->
                                    </li>
                                    <!--<li class="dropdown-submenu"><a tabindex="-1" href="#">Single Post</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="single-post-standard.html">Standard</a></li>
                                            <li><a href="single-post-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="single-post-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>-->
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/loadComplain">Manage Complain<i class="icofont icofont-simple-down"></i></a>
                                <div class="dropdown-menu">
                                    <div class="container">
                                        <div class="row">
                                            <div class="">
                                                <ul class="list-unstyled mega-menu-item">
                                                    <li><a href="/loadComplain"> Post Complain</a></li>
                                                    <li><a href="/viewComplain">View Complain</a></li>
                                                    <!--<li><a href="buttons.html"><i class="icofont icofont-simple-right pr-2"></i> Button</a></li>
                                                    <li><a href="carousel.html"><i class="fa fa-compress pr-2"></i> Carousel</a></li>
                                                    <li><a href="columns-grid.html"><i class="fa fa-columns pr-2"></i> Column & Grid</a></li>
                                                    <li><a href="countdowns.html"><i class="fa fa-contao pr-2"></i> Countdowns</a></li>-->
                                                <!--</ul>
                                            </div>
                                            <div class="col-12 col-lg border border-left-0 border-top-0 border-bottom-0">
                                                <ul class="list-unstyled mega-menu-item">
                                                    <li><a href="counter.html"><i class="fa fa-adjust pr-2"></i> Counter</a></li>
                                                    <li><a href="cta.html"><i class="fa fa-anchor pr-2"></i> Call To Action</a></li>
                                                    <li><a href="divider.html"><i class="fa fa-deviantart pr-2"></i> Divider</a></li>
                                                    <li><a href="gallery.html"><i class="fa fa-neuter pr-2"></i> Gallery</a></li>
                                                    <li><a href="google-map.html"><i class="fa fa-map pr-2"></i> Google Map</a></li>
                                                    <li><a href="icon-box.html"><i class="fa fa-trophy pr-2"></i> Icon Box</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-lg border border-left-0 border-top-0 border-bottom-0">
                                                <ul class="list-unstyled mega-menu-item">
                                                    <li><a href="icon-list.html"><i class="fa fa-list pr-2"></i> Icon List</a></li>
                                                    <li><a href="page-title.html"><i class="fa fa-flask pr-2"></i> Page Title</a></li>
                                                    <li><a href="partners.html"><i class="fa fa-handshake-o pr-2 "></i> Partners</a></li>
                                                    <li><a href="pricing-options.html"><i class="fa fa-filter pr-2 "></i> Pricing Options</a></li>
                                                    <li><a href="process.html"><i class="fa fa-bar-chart pr-2"></i> Process</a></li>
                                                    <li><a href="progress-bars.html"><i class="fa fa-spinner pr-2"></i> Progress Bar</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-3">
                                                <ul class="list-unstyled mega-menu-item">
                                                    <li><a href="tables.html"><i class="fa fa-table pr-2"></i> Tables</a></li>
                                                    <li><a href="tabs.html"><i class="fa fa-tablet pr-2"></i> Tabs</a></li>
                                                    <li><a href="team.html"><i class="fa fa-users pr-2"></i> Team</a></li>
                                                    <li><a href="testimonials.html"><i class="fa fa-quote-left pr-2"></i> Testimonials</a></li>
                                                    <li><a href="typography.html"><i class="fa fa-font pr-2"></i> Typography</a></li>
                                                    <li><a href="video.html"><i class="fa fa-file-video-o pr-2"></i> Video</a></li>
                                                </ul>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Manage Feedback<i class="icofont icofont-simple-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/loadFeedback">Give Feedback</a></li>
                                    <li><a href="/viewFeedback">View Feedback</a></li>
                                <!--<li><a href="corporate.html">corporate</a></li>
                                    <li><a href="event.html">Event</a></li>
                                    <li><a href="gym.html">Gym</a></li>
                                </ul>-->
                            </li>
                        </ul>
                        <!--<div class="d-inline-block mt-3 mt-lg-0">
                            <ul class="list-inline my-auto mr-4">
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" class="dark" title="facebook"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" class="dark" title="twitter"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li class="list-inline-item transition-move-top pr-3"><a href="#" class="dark" title="dribbble"><i class="icofont icofont-social-dribble"></i></a></li>
                                <li class="list-inline-item transition-move-top"><a href="#" class="dark" title="pinterest"><i class="icofont icofont-social-pinterest"></i></a></li>
                            </ul>
                        </div>-->
                    </div>
                </nav>
            </div>                    
        </div>