<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Intelligence Employee Engagement</title>
        <link rel="shortcut icon" href="../../static/userResources/images/favicon.ico" />
        <!--Plugin CSS-->
        <link href="../../static/userResources/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/bootstrap-social.css" rel="stylesheet">
        
        <link href="../../static/userResources/css/jquery-ui.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/settings.css">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/layers.css">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/navigation.css">                        
        <link href="../../static/userResources/css/owl.carousel.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/owl.theme.default.css" rel="stylesheet">
        <link href="../../static/userResources/css/jquery.lineProgressbar.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/jquery.fancybox.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/style.css" rel="stylesheet">
        <link href="../../static/userResources/css/ionicons.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/icofont.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/prettyPhoto.css" rel="stylesheet">
        <!--main Css-->
        <link href="../../static/userResources/css/main.css" rel="stylesheet">
    </head>
    <body>  

        <!-- Sidebar -->
        
        <!--End  Sidebar -->

        <!-- header -->
        {% include "user/header.html" %}
        <!--End header -->

        <!-- Revolution Slider -->
        <div class="p-0 section">
            <div class="content">
                <div id="rev_slider_490_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-hero39" data-source="gallery" >
                    <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
                    <div id="rev_slider_490_1" class="rev_slider fullwidthabanner"  data-version="5.4.1">
                        <ul>	
                            <!-- SLIDE 1 -->
                            <li data-index="rs-1699" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  
                                data-thumb="../../static/userResources/images/business-bg11.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="../../static/userResources/images/business-bg11.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                <!-- LAYER NR. 1-->
                                <div class="tp-caption tp-resizeme letter-spacing-3 font-weight-bold dark" 
                                     id="slide-1" 
                                     data-x="['Top','Top','Top','Top']" data-hoffset="['0','0','0','0']" 
                                     data-y="['Top','Top','Top','Top']" data-voffset="['-100','-100','-110','-130']" 
                                     data-fontsize="['96','70','40','30']"
                                     data-lineheight="['96','70','40','30']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text" 
                                     data-responsive_offset="on" 
                                     data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; white-space: nowrap;">Intelligence<br /><span class="f-playfair font-italic"></span> </div>

                                    <div class="tp-caption tp-resizeme letter-spacing-3 font-weight-bold dark" 
                                     id="slide-1" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-110','-130']" 
                                     data-fontsize="['96','70','40','30']"
                                     data-lineheight="['96','70','40','30']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text" 
                                     data-responsive_offset="on" 
                                     data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; white-space: nowrap;"> Employee Engagement<br /><span class="f-playfair font-italic"></span> </div>



                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme f-Montserrat dark" 
                                     id="slide-2" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['80','40','-15','-65']" 
                                     data-fontsize="['20','20','14','14']"
                                     data-lineheight="['34','28','28','26']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text" 
                                     data-responsive_offset="on" 
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 8; white-space: nowrap; ">
                                    </div>

                                <!-- LAYER NR. 3 -->
                                
                            </li>

                            <!-- SLIDE 2 -->
                            <li data-index="rs-1705" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  
                                data-thumb="../../static/userResources/images/business-bg7.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="../../static/userResources/images/business-bg7.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                <!-- LAYER NR. 1-->
                                <div class="tp-caption tp-resizeme letter-spacing-3 font-weight-bold text-white" 
                                     id="slide-5" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-110','-130']" 
                                     data-fontsize="['96','70','40','30']"
                                     data-lineheight="['96','70','40','30']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text" 
                                     data-responsive_offset="on" 
                                     data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; white-space: nowrap;">A Global Service<br/>For your company<span class="f-playfair font-italic"></span> </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme f-Montserrat text-white" 
                                     id="slide-6" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['80','40','-15','-65']" 
                                     data-fontsize="['20','20','14','14']"
                                     data-lineheight="['34','28','28','26']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text" 
                                     data-responsive_offset="on" 
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 8; white-space: nowrap; ">
                                    </div>

                                <!-- LAYER NR. 3 -->
                                
                                    
                                </div> 
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption btn-pink btn-circle btn-xs text-uppercase letter-spacing-1 font-weight-bold" 
                                     id="slide-8" 
                                     data-x="['center','center','center','center']" data-hoffset="['130','140','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['190','140','160','120']" 
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="button" 
                                     data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":""}]'
                                     data-responsive_offset="on" 
                                     data-responsive="off"
                                     data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[15,10,10,10]"
                                     data-paddingright="[42,42,42,42]"
                                     data-paddingbottom="[15,10,10,10]"
                                     data-paddingleft="[42,42,42,42]"
                                     style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                    
                                </div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" ></div>	
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
        </div>
        <!--End Revolution Slider -->

        <!-- Welcome -->
        <!--End  Welcome  -->

        <!-- Counter -->
        
        <!--End Our Testimonial  -->

        <!-- Our Pricing -->
        <!--End Pricing partners  -->

        <!-- Our partners -->
        <!--End Our partners  -->

        

        <!-- Footer-->
        {% include 'user/footer.html' %}
        <!--End  Footer-->

        <!-- Top To Bottom-->
        <a href="#" class="scrollup text-center bg-primary"><i class="fa fa-angle-up text-white"></i></a>
        <!-- End Top To Bottom-->

        <script src="../../static/userResources/js/jquery-3.3.1.min.js"></script>
        <script src="../../static/userResources/js/jquery-ui.min.js"></script>
        <script src="../../static/userResources/js/bootstrap.min.js"></script>
        <script  src="../../static/userResources/js/jquery.themepunch.revolution.min.js"></script>
        <script  src="../../static/userResources/js/jquery.themepunch.tools.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.slideanims.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.actions.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.layeranimation.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.navigation.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.parallax.min.js"></script>
        <script  src="../../static/userResources/js/jquery.waypoints.js"></script>
        <script  src="../../static/userResources/js/jquery.counterup.min.js"></script>
        <script  src="../../static/userResources/js/owl.carousel.min.js"></script>
        <script  src="../../static/userResources/js/wow.min.js"></script>
        <script  src="../../static/userResources/js/jqmeter.min.js"></script>
        <script  src="../../static/userResources/js/jquery.lineProgressbar.js"></script>
        <script  src="../../static/userResources/js/jquery.barfiller.js"></script>
        <script  src="../../static/userResources/js/modernizr-custom.js"></script>
        <script  src="../../static/userResources/js/jquery.shuffle.min.js"></script>
        <script  src="../../static/userResources/js/jquery.fancybox.min.js"></script>
        <script  src="../../static/userResources/js/gmap.js"></script>
        <script  src="../../static/userResources/js/jquery.prettyPhoto.js"></script>

        <!-- Common js-->
        <script src="../../static/userResources/js/common.js"></script>
    </body>
</html>