<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Slake - Responsive Multi-purpose HTML5 Template</title>
        <link rel="shortcut icon" href="../../static/userResources/images/favicon.ico" />
        <!--Plugin CSS-->
        <link href="../../static/userResources/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/bootstrap-social.css" rel="stylesheet">
        <link href="../../static/userResources/css/jquery-ui.css" rel="stylesheet">
        <link href="../../static/userResources/css/bootstrap-social.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/settings.css">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/layers.css">
        <link rel="stylesheet" type="text/css" href="../../static/userResources/css/navigation.css">                        
        <link href="../../static/userResources/css/owl.carousel.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/owl.theme.default.css" rel="stylesheet">
        <link href="../../static/userResources/css/jquery.lineProgressbar.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/jquery.fancybox.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/style.css" rel="stylesheet">
        <link href="../../static/userResources/css/ionicons.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/icofont.min.css" rel="stylesheet">
        <link href="../../static/userResources/css/prettyPhoto.css" rel="stylesheet">

        <!--main Css-->
        <link href="../../static/userResources/css/main.css" rel="stylesheet">
    </head>
    <body> 
        <!-- header -->
        {% include 'user/header.html' %}
        <!--End header -->

        <!-- Page Inner -->

        <!--End  Page Inner  -->

        <!-- Address -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 wow fadeInUp text-center">
                        <div class="card border-0 shadow">
                            <div class="card-body p-5">
                                <h2>Login to your Account</h2>

                                <a class="btn btn-block btn-md btn-social btn-facebook text-white text-uppercase font-weight-bold">
                                    <span class="fa fa-facebook"></span> Sign up with Facebook
                                </a>
                                <a class="btn btn-block btn-md btn-social btn-linkedin text-white text-uppercase font-weight-bold">
                                    <span class="fa fa-linkedin"></span> Sign up with linkedin
                                </a>

                                <div class="pt-4">
                                    <p>Or fill in required fields and login your account.</p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control rounded" placeholder="Username" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control rounded" placeholder="Password" />
                                        </div>
                                    </form>
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Remember Me</span>
                                            </label>
                                        </div>
                                        <div class="float-right">
                                            <a href="#" class="primary"><u>Forget password?</u></a>
                                        </div> 
                                    </div>
                                    <a href="#" class="btn btn-pink btn-md btn-block my-4">login</a>
                                </div>
                                <a href="#" class="dark font-weight-bold"><u>Don't have an account? Sign Up!</u></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Address  -->


        <!-- Footer-->
        {% include 'user/footer.html' %}
        <!--End  Footer-->

        <!-- Top To Bottom-->
        <a href="#" class="scrollup text-center bg-primary"><i class="fa fa-angle-up text-white"></i></a>
        <!-- End Top To Bottom-->

        <script src="../../static/userResources/js/jquery-3.3.1.min.js"></script>
        <script src="../../static/userResources/js/jquery-ui.min.js"></script>
        <script src="../../static/userResources/js/bootstrap.min.js"></script>
        <script  src="../../static/userResources/js/jquery.themepunch.revolution.min.js"></script>
        <script  src="../../static/userResources/js/jquery.themepunch.tools.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.slideanims.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.actions.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.layeranimation.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.navigation.min.js"></script>
        <script  src="../../static/userResources/js/revolution.extension.parallax.min.js"></script>
        <script  src="../../static/userResources/js/jquery.waypoints.js"></script>
        <script  src="../../static/userResources/js/jquery.counterup.min.js"></script>
        <script  src="../../static/userResources/js/owl.carousel.min.js"></script>
        <script  src="../../static/userResources/js/wow.min.js"></script>
        <script  src="../../static/userResources/js/jqmeter.min.js"></script>
        <script  src="../../static/userResources/js/jquery.lineProgressbar.js"></script>
        <script  src="../../static/userResources/js/jquery.barfiller.js"></script>
        <script  src="../../static/userResources/js/modernizr-custom.js"></script>
        <script  src="../../static/userResources/js/jquery.shuffle.min.js"></script>
        <script  src="../../static/userResources/js/jquery.fancybox.min.js"></script>
        <script  src="../../static/userResources/js/gmap.js"></script>
        <script  src="../../static/userResources/js/jquery.prettyPhoto.js"></script>

        <!-- Common js-->
        <script src="../../static/userResources/js/common.js"></script>
    </body>
</html>