<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slake - Responsive Multi-purpose HTML5 Template</title>
    <link rel="shortcut icon" href="../../static/userResources/images/favicon.ico"/>
    <!--Plugin CSS-->
    <link href="../../static/userResources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/bootstrap-social.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/settings.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/layers.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResources/css/navigation.css">
    <link href="../../static/userResources/css/owl.carousel.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/owl.theme.default.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery.lineProgressbar.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/icofont.min.css" rel="stylesheet">
    <link href="../../static/userResources/css/prettyPhoto.css" rel="stylesheet">

    <!--main Css-->
    <link href="../../static/userResources/css/main.css" rel="stylesheet">

    <script type="text/javascript">
        function updateStaff() {
            document.getElementById("staff_edit").hidden = false;
        }
    </script>
</head>
<body>
<!-- header -->
{% include 'user/header.html' %}
<!--End header -->

<!-- Page Inner -->

<!--End  Page Inner  -->

<!-- Address -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 wow fadeInUp text-center">
                <div class="card border-0 shadow">
                    <div class="card-body p-2 p-md-5">
                        <h2>Profile</h2>


                        <div class="pt-4">
                            <form action="/updateStaff" method="Post">
                                {% for staffDict in staffDict %}

                                    <div class="form-group">
                                    <div style="text-align:left">First Name</div>
                                        <input class="form-control rounded" type="text" id="firstName"
                                               autocomplete="off" required=""
                                               name="RegisterFirstName" onchange="updateStaff()"
                                               placeholder="First Name{{ staffDict.registerFirstName }}"
                                               value="{{ staffDict.registerFirstName }}">
                                    </div>
                                    <div class="form-group">
                                    <div style="text-align:left">Last Name</div>
                                        <input class="form-control rounded" type="text" onchange="
                                    updateStaff()" required="" autocomplete="off" required=""
                                               name="RegisterLastName" value="{{ staffDict.registerLastName }}"
                                               placeholder="{{ staffDict.registerLastName }}">
                                    </div>
                                    <div class="form-group">
                                    <div style="text-align:left">Contact No</div>
                                        <input class="form-control rounded" type="text" required="" autocomplete="off"
                                               name="RegisterContact" onchange="updateStaff()"
                                               value="{{ staffDict.registerContact }}"
                                               placeholder="{{ staffDict.registerContact }}"
                                        >
                                    </div>
                                    <div class="form-group">
                                    <div style="text-align:left">Email Id</div>
                                        <input class="form-control rounded" type="email" onchange="updateStaff()"
                                               required="" autocomplete="off" value="{{ staffDict.loginEmail }}"
                                               name="RegisterEmail" placeholder="{{ staffDict.loginEmail }}">
                                    </div>
                                    {{ registerErrorEmail }}

                                    <div class="form-group">
                                    <div style="text-align:left">Password</div>
                                        <input class="form-control" type="text" cols="10" required=""
                                               onchange="updateStaff()" value="{{ staffDict.loginPassword }}"
                                               name="RegisterPassword"
                                               placeholder="{{ staffDict.loginPassword }}">
                                    </div>
                                    <div class="form-group">
                                    <div style="text-align:left">Address</div>
                                        <input class="form-control" type="text" cols="10" required=""
                                               onchange="updateStaff()" value="{{ staffDict.registerAddress }}"
                                               name="RegisterAddress"
                                               placeholder="{{ staffDict.registerAddress }}">
                                    </div>
                                    Department
                                    <div class="form-group">
                                        <label>
                                            <input type="text" name="RegisterDepartment" readonly
                                                   value=" {{ staffDict.departmentName }}">
                                        </label>
                                    </div>
                                    Role
                                    <div class="form-group">
                                        <label>
                                            <input type="text" name="RegisterRole" readonly
                                                   value="{{ staffDict.roleName }}">
                                        </label>
                                    </div>
                                {% endfor %}

                                <input type="hidden" name="Register_LoginId" value="{{ staffDict.register_LoginId }}">
                                <input type="submit" name="EditStaff" hidden="" id="staff_edit"
                                       class="btn btn-primary btn-block btn-lg waves-effect waves-light" value="Update">


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Address  -->


<!-- Footer-->
{% include 'user/footer.html' %}
<!--End  Footer-->

<!-- Top To Bottom-->
<a href="#" class="scrollup text-center bg-primary"><i class="fa fa-angle-up text-white"></i></a>
<!-- End Top To Bottom-->

<script src="../../static/userResources/js/jquery-3.3.1.min.js"></script>
<script src="../../static/userResources/js/jquery-ui.min.js"></script>
<script src="../../static/userResources/js/bootstrap.min.js"></script>
<script src="../../static/userResources/js/jquery.themepunch.revolution.min.js"></script>
<script src="../../static/userResources/js/jquery.themepunch.tools.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.slideanims.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.actions.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.layeranimation.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.navigation.min.js"></script>
<script src="../../static/userResources/js/revolution.extension.parallax.min.js"></script>
<script src="../../static/userResources/js/jquery.waypoints.js"></script>
<script src="../../static/userResources/js/jquery.counterup.min.js"></script>
<script src="../../static/userResources/js/owl.carousel.min.js"></script>
<script src="../../static/userResources/js/wow.min.js"></script>
<script src="../../static/userResources/js/jqmeter.min.js"></script>
<script src="../../static/userResources/js/jquery.lineProgressbar.js"></script>
<script src="../../static/userResources/js/jquery.barfiller.js"></script>
<script src="../../static/userResources/js/modernizr-custom.js"></script>
<script src="../../static/userResources/js/jquery.shuffle.min.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.min.js"></script>
<script src="../../static/userResources/js/gmap.js"></script>
<script src="../../static/userResources/js/jquery.prettyPhoto.js"></script>

<!-- Common js-->
<script src="../../static/userResources/js/common.js"></script>
</body>
</html>