<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Upbond - Responsive Admin Dashboard Template</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="adminResources/images/favicon.ico">

        <link href="../../static/adminResources/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../../static/adminResources/css/icons.css" rel="stylesheet" type="text/css">
        <link href="../../static/adminResources/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">

        function loadRole() {

            var register_DepartmentId = document.getElementById("register_DepartmentId");

            var register_RoleId = document.getElementById("register_RoleId");

            register_RoleId.innerHTML = "";
            var ajax = new XMLHttpRequest();


            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);

                    for (var i = 0; i < jsn.length; i++) {

                        var option = document.createElement("option");

                        option.value = jsn[i].roleId;
                        option.text = jsn[i].roleName;

                        register_RoleId.options.add(option);
                    }
                }

            }
            ajax.open("get", "/ajaxRoleRegister?register_DepartmentId='" + register_DepartmentId.value + "'", true);

            ajax.send();


        }
    </script>


    </head>
    <body>
        {% include "admin/header.html" %}
        {% include "admin/menu.html" %}

        <!-- Begin page -->
        <div class=""></div>
        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">

                <div class="panel-body">
                    <h3 class="text-center m-t-0 m-b-15">
                        <a href="index.html" class="logo logo-admin"><img src="../../static/adminResources/images/logo_dark.png" height="28" alt="logo"></a>
                    </h3>
                    <h4 class="text-muted text-center m-t-0"><b>Edit Staff</b></h4>

                    <form class="form-horizontal m-t-20" method="POST" action="/updateStaff">


                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="hidden" required="" name="Register_LoginId" value="{{ staffDict[0].register_LoginId }}" placeholder="Firstname">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" autocomplete="off" name="RegisterFirstName" value="{{ staffDict[0].registerFirstName }}" placeholder="Firstname">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" autocomplete="off" name="RegisterLastName" value="{{ staffDict[0].registerLastName }}" placeholder="Lastname">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" autocomplete="off" name="RegisterContact" value="{{ staffDict[0].registerContact }}" placeholder="Mobile No.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="email" required="" autocomplete="off"  name="RegisterEmail" value="{{ staffDict[0].loginEmail }}" placeholder="Email">
                            </div>
                        <div>
                            {{ registererrorEmail  }}
                        </div>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-12">
                            	Gender:-&nbsp &nbsp
                                Male<input type="radio" required="" name="RegisterGender" placeholder="" value="Male"
                                >
                                &nbsp &nbsp &nbsp Female<input type="radio" required="" name="RegisterGender" placeholder="" value="Female"
                                >
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea class="form-control" type="textarea" cols="10" required="" name="RegisterAddress" placeholder="{{staffDict[0].registerAddress}}"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                            <label>
                                <select class="form-control"  name="RegisterDepartmentId" id="register_DepartmentId" onchange="loadRole()">
                                    <option value="{{ staffDict[0].departmentId }}"  hidden name="RegisterDepartmentId">{{ staffDict[0].departmentName }}
                                    </option>                                   <!-- departmentDict stores the value of department searchDepartment() method -->
                                    {% for i in departmentDict %}
                                        <option value="{{ i.departmentId }}" name="RegisterDepartmentId">{{ i.departmentName }} </option>
                                    {% endfor %}
                                </select>
                            </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                            <label>
                                <select class="form-control" name="RegisterRoleId" id="register_RoleId">
                                    <!-- roleDict stores the value of department searchRole() method -->
                                    <!--<option value="{{ roleDict[0].roleId }}" hidden name="RegisterRoleId">{{ staffDict[0].roleName }}
                                    </option>
                                    {% for i in roleDict %}
                                        <option value="{{ i.roleId }}" name="RegisterRoleId">{{ i.roleName }}</option>
                                    {% endfor %}-->
                                </select>
                            </label>
                            </div>
                        </div>

                        <!--
                         <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="file" required="" name="RegisterImage" placeholder="image">
                            </div>
                        </div>-->



                        <div class="form-group text-center m-t-40">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" name="RegisterSubmit" type="submit">Submit</button>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-40">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" name="RegisterReset" type="reset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>


        {% include "admin/footer.html" %}
        <!-- jQuery  -->
        <script src="../../static/adminResources/js/jquery.min.js"></script>
        <script src="../../static/adminResources/js/bootstrap.min.js"></script>
        <script src="../../static/adminResources/js/modernizr.min.js"></script>
        <script src="../../static/adminResources/js/detect.js"></script>
        <script src="../../static/adminResources/js/fastclick.js"></script>
        <script src="../../static/adminResources/js/jquery.slimscroll.js"></script>
        <script src="../../static/adminResources/js/jquery.blockUI.js"></script>
        <script src="../../static/adminResources/js/waves.js"></script>
        <script src="../../static/adminResources/js/wow.min.js"></script>
        <script src="../../static/adminResources/js/jquery.nicescroll.js"></script>
        <script src="../../static/adminResources/js/jquery.scrollTo.min.js"></script>

        <script src="../../static/adminResources/js/app.js"></script>

    </body>
</html>