<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Intelligence Employee Engagement</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="../../static/adminResources/images/favicon.ico">

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="../../project/static/adminResources/css/morris../../static/">

        <link href="../../static/adminResources/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../../static/adminResources/css/icons.css" rel="stylesheet" type="text/css">
        <link href="../../static/adminResources/css/style.css" rel="stylesheet" type="text/css">

    </head>


    <body class="">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
        {% include "admin/header.html" %}
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->

        {% include "admin/menu.html" %}
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->


<h1 style="color: red">   {{cameraErrorDict}}  </h1>>

                {% include "admin/footer.html" %}
            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->


        <!-- jQuery  -->
        <script src="../../static/adminResources/js/jquery.min.js"></script>
        <script src="../../static/adminResources/js/bootstrap.min.js"></script>
        <script src="../../static/adminResources/js/modernizr.min.js"></script>
        <script src="../../static/adminResources/js/detect.js"></script>
        <script src="../../static/adminResources/js/fastclick.js"></script>
        <script src="../../static/adminResources/js/jquery.slimscroll.js"></script>
        <script src="../../static/adminResources/js/jquery.blockUI.js"></script>
        <script src="../../static/adminResources/js/waves.js"></script>
        <script src="../../static/adminResources/js/wow.min.js"></script>
        <script src="../../static/adminResources/js/jquery.nicescroll.js"></script>
        <script src="../../static/adminResources/js/jquery.scrollTo.min.js"></script>

        <!--Morris Chart-->
        <script src="../../project/static/adminResources/js/morris.min.js"></script>
        <script src="../../project/static/adminResources/js/raphael-min.js"></script>

        <script src="../../project/static/adminResources/js/dashborad.js"></script>

        <script src="../../static/adminResources/js/app.js"></script>

    </body>
</html>