<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Intelligence Employee Engagement</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="../../static/adminResources/images/favicon.ico">

        <!-- DataTables -->
        <link href="../../static/adminResources/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="../../static/adminResources/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../static/adminResources/css/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../static/adminResources/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../static/adminResources/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../static/adminResources/css/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

        <link href="../../static/adminResources/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../../static/adminResources/css/icons.css" rel="stylesheet" type="text/css">
        <link href="../../static/adminResources/css/style.css" rel="stylesheet" type="text/css">


    <title>View Department</title>
</head>
<body class="fixed-left">
            <div id="wrapper">
                {%include "admin/header.html"%}
                {%include "admin/menu.html"%}
<!--display department table data in table form-->
<div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <div class="">
                        <div class="page-header-title">
                            <h4 class="page-title">Detection Table</h4>
                        </div>
                    </div>

                    <div class="page-content-wrapper ">

                        <div class="container">

                                            <div class="form-group">
                    <div class="col-xs-12">
                        <label>
                            <select class="form-control" name="TrackingDepartment" id="tracking_DepartmentId" onchange="loadRole()">
                                <option value="Default" name="TrackingDepartment" >Select Department
                                </option>
                                <!-- departmentDict stores the value of department searchDepartment() method -->
                                {% for i in departmentDict %}
                                    <option value="{{ i.departmentId }}"
                                            name="RegisterDepartment">{{ i.departmentName }}
                                    </option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label>
                            <select class="form-control" name="TrackingRole" id="tracking_RoleId">
                               
                            </select>
                        </label>
                    </div>
                </div>

                <div class="form-group text-center m-t-40" style="width: 20%">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" onclick="loadTrackingData()" name="TrackingSubmit"
                                type="submit">Submit
                        </button>
                    </div>
                </div>



                            <div class="row"  style="padding-top: 10%">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-body">
                                            <h4 class="m-b-30 m-t-0">Detection Data</h4>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">

                                                    <table id="datatable" class="table table-striped table-bordered">
                                                        <thead>

                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" aria-sort="ascending" style="width: 146px;">Name</th>
                                                            
                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Department: activate to sort column ascending" style="width: 240px;">Department</th>
                                                            
                                                            <th tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 109px;">Role</th>
                                                            
                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Place: activate to sort column ascending" style="width: 44px;">Place</th>
                                                            
                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 95px;">Time</th>
                                                        </tr>

                                                        </thead>

                                                        <tbody id="table_body">
                                                        
                                                        </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
        <script src="../../static/adminResources/js/jquery.min.js"></script>
        <script src="../../static/adminResources/js/bootstrap.min.js"></script>
        <script src="../../static/adminResources/js/modernizr.min.js"></script>
        <script src="../../static/adminResources/js/detect.js"></script>
        <script src="../../static/adminResources/js/fastclick.js"></script>
        <script src="../../static/adminResources/js/jquery.slimscroll.js"></script>
        <script src="../../static/adminResources/js/jquery.blockUI.js"></script>
        <script src="../../static/adminResources/js/waves.js"></script>
        <script src="../../static/adminResources/js/wow.min.js"></script>
        <script src="../../static/adminResources/js/jquery.nicescroll.js"></script>
        <script src="../../static/adminResources/js/jquery.scrollTo.min.js"></script>

        <!-- Datatables-->
        <script src="../../static/adminResources/js/jquery.dataTables.min.js"></script>
        <script src="../../static/adminResources/js/dataTables.bootstrap.js"></script>
        <script src="../../static/adminResources/js/dataTables.buttons.min.js"></script>
        <script src="../../static/adminResources/js/buttons.bootstrap.min.js"></script>
        <script src="../../static/adminResources/js/jszip.min.js"></script>
        <script src="../../static/adminResources/js/pdfmake.min.js"></script>
        <script src="../../project/static/adminResources/js/vfs_fonts.js"></script>
        <script src="../../static/adminResources/js/buttons.html5.min.js"></script>
        <script src="../../static/adminResources/js/buttons.print.min.js"></script>
        <script src="../../static/adminResources/js/dataTables.fixedHeader.min.js"></script>
        <script src="../../static/adminResources/js/dataTables.keyTable.min.js"></script>
        <script src="../../static/adminResources/js/dataTables.responsive.min.js"></script>
        <script src="../../static/adminResources/js/responsive.bootstrap.min.js"></script>
        <script src="../../static/adminResources/js/dataTables.scroller.min.js"></script>

        <script type="text/javascript">

        function loadRole() {

            var tracking_DepartmentId = document.getElementById("tracking_DepartmentId");

            var tracking_RoleId = document.getElementById("tracking_RoleId");

            tracking_RoleId.innerHTML = "";
            var ajax = new XMLHttpRequest();


            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);

                    for (var i = 0; i < jsn.length; i++) {

                        var option = document.createElement("option");

                        option.value = jsn[i].roleId;
                        option.text = jsn[i].roleName;

                        tracking_RoleId.options.add(option);
                    }
                }

            }
            ajax.open("get", "/ajaxRoleTracking?tracking_DepartmentId='" + tracking_DepartmentId.value + "'", true);

            ajax.send();


        }
    </script>
    <script type="text/javascript">

        function loadTrackingData() {



            var tracking_RoleId = document.getElementById("tracking_RoleId");

            var tableBody=document.getElementById("table_body")
            tableBody.innerHTML="";

            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                

                    var jsn = JSON.parse(ajax.responseText);

                    for (var i = 0; i < jsn.length; i++) {


                    

                        var r = tableBody.insertRow(-1);

                        var p = r.insertCell(0);
                        var q =r.insertCell(1);            
                        var s=r.insertCell(2);
                        var t=r.insertCell(3);
                        var u=r.insertCell(4)
                   
                        r.value=p.innerHTML=jsn[i]['registerFirstName']+"  "+jsn[i]['registerLastName'];
                        r.value=q.innerHTML=jsn[i]['departmentName'];
                        r.value=s.innerHTML=jsn[i]['roleName'];
                        r.value=t.innerHTML=jsn[i]['trackingPlace'];
                        r.value=u.innerHTML=jsn[i]['trackingTime'];


                    }
                }
            }

            ajax.open("get", "/ajaxLoadTracking?tracking_RoleId="+tracking_RoleId.value, true);
            ajax.send();
        }
    </script>

        <!-- Datatable init js -->
       <!-- <script src="../../static/adminResources/js/datatables.init.js"></script>-->

        <script src="../../static/adminResources/js/app.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </body>

</html>